
# System
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
build/
*.log

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Agent
.agent/
node_modules/_*

# mini app guide
line-mini-*.md
